.DS_Store
.ipynb_checkpoints
__pycache__
.vscode
.pytest_cache
htmlcov
*.pyc
.coverage
flaskProfiling
POST*
.idea
*.DS_Store
venv
/.tox/dist/*
/VQC/VQC.egg-info/
/.tox/
/VQC.egg-info/*
/VQC/.tox/*
/test_venv/
/test_venv310/
/VQC/.tox/
/.mypy_cache/
/logs/
/VQC/logs/
TuningMethods/*.png